init.author.name=Nicholas Daley
init.author.email=ntdaley@ntdaley.org
init.author.url=https://github.com/ntdaley/
//registry.npmjs.org/:username=ntdaley
//registry.npmjs.org/:email=ntdaley@ntdaley.org
//registry.npmjs.org/:always-auth=false
init-license=Apache-2.0
